main 					{
	padding-top:30px;	
}

/* HEADER 
===================== */
header .navbar 		{ 
	border-radius:0;
}

/* markethome 
===================== */
#history{
	height: 130%;
	width: 90%;
}

#gangstaMap{
	width: 100%;
}

#gangstaCat{
	width: 100%;
	padding-bottom: 3%;	
}

.glyphicon.glyphicon-chevron-right{
	font-size: 30px;
}

.glyphicon.glyphicon-chevron-left{
	font-size: 30px;
}

#left{

	margin-top: -.5%;
	padding: 5% 5% -5% 4%;

}

#right{	
	
	margin-top: -5.25%;
	margin-left: .25%;
	padding: 5% 5% 2% 5%;

}


#calendar{
	padding: 5px 5px 5px 5px;

}
#marketMain #userProfile{
	width: 24%;
	float: left;
	margin-right: 1%;
}

#marketMain #market{
	width: 50%;
	float: left;
	margin-right: 1%;
}

#marketMain #bookingHistory{
	width: 24%;
	float: left;

}

#userProfile{
	height: 100%;
}

#market{
	height: 100%;
}

#bookingHistory{
	height: 100%;
}

#dateandmap{
	height: 100%;
}

.container{
	/*margin-left: 5%;
	margin-right: 1000px;*/
}
/* NGANIMATE
====================== */

/* show and hide */
.show-hide-message.ng-hide-remove {
	-webkit-animation:zoomIn 0.3s both ease;
	-moz-animation:zoomIn 0.3s both ease;
	animation:zoomIn 0.3s both ease;
}

/* ANIMATIONS
====================== */
.spinner {
	-webkit-animation:spin 1s infinite;
	-moz-animation:spin 1s infinite;
	animation:spin 1s infinite;
}

@keyframes spin {
	from 	{ transform:rotate(0deg); }
	to 	{ transform:rotate(360deg); }
}

@-webkit-keyframes spin {
	from 	{ -webkit-transform:rotate(0deg); }
	to 	{ -webkit-transform:rotate(360deg); }
}

@-moz-keyframes spin {
	from 	{ -moz-transform:rotate(0deg); }	
	to 	{ -moz-transform:rotate(360deg); }
}