<!-- form to update the message variable using ng-model -->
<main>
	<div class="container">
		<div class="row">
			<div class=".col-sm-1 col-sm-offset-0">
				The Fernwood Farmer's Market Website Developed and designed by, Justyn Houle, Trison Nguyen, Jakob Roberts, Evan Nickerson, Rafat Mahmud, Jeff Mellis
			</div>
			<div class=".col-sm-6 col-sm-offset-0">
				The Fernwood Farmer's Market Website Developed and designed by, Justyn Houle, Trison Nguyen, Jakob Roberts, Evan Nickerson, Rafat Mahmud, Jeff Mellis
			</div>
		</div>
		<div class="row">
			<div class=".col-xs-3">
				stuff
			</div>
			<div class=".col-xs-3">
				stuff
			</div>
			<div class=".col-xs-3">
				asdfasdfasdf
			</div>
			<div class=".col-xs-3">
				stuff
			</div>
		</div>
		</div>
	</div>
</main>