<!-- form to update the message variable using ng-model -->
<main>
	<div class="hero">
		<div class="contain">
			<div class="about-header">About FaBS: <br><br> Fernwood Farmers Market Booth Scheduling System</div>
		</div>
	</div>

	<div class="container" >

		<div class="row" >
			<div class=".col-sm-12 col-sm-offset-0" style="height:75px">&nbsp;</div>
		</div>

		<div class="row" >
			<div class=".col-sm-10 col-sm-offset-1" style="font-size:120%; color:#e67e22;">"Booking a booth is so much easier! I can't believe it! My cows can't keep up with demand!"</div>
			<div class=".col-sm-3 col-sm-offset-8" style="font-size:90%;">-Mr. Farm<br><br></div>
		</div>
		<div class="row">
			<div class=".col-sm-8 col-sm-offset-1" style="font-size:120%; color:#e67e22;">"Since using FaBS, my production levels have increased 150%! How did us vendors ever book booths before? Thank you FaBS!"</div>
			<div class=".col-sm-3 col-sm-offset-8" style="font-size:90%;">-Ms. Tomatés<br><br></div>
		</div>


		<div class="row" style="font-size:300%; font-family:georgia; text-align:center;">
			<div class=".col-sm-6 col-sm-offset-2" style="text-align:center; border-bottom: thin solid #EEEEEE;">
				<div class="glyphicon glyphicon-calendar"></div>
				<div class="glyphicon glyphicon-pencil"></div>
				&nbsp;A simple booking system
			</div>
		</div>

		<div class="row">
			<div class=".col-sm-8 col-sm-offset-0" style="font-size:120%; text-align:center; margin-left:5%; margin-right:5%;">
				Our system was designed with our hard working market vendors in mind. We developed with the MEAN stack (MongoDB, Express, AngularJS, Node.js) under strict supervision from Daniela Damien, Lloyd Montgomery, David Johnson and Ernest Aaron. We think you'll enjoy booking booths with us.<br><br>
				<span style="font-size: 150%;color:#f39c12;">Simple.</span>
				<span style="font-size: 150%;color:#e67e22;">Easy. </span>
				<span style="font-size: 150%;color:#c0392b;">Powerful.</span>
			</div>
			<div class=".col-sm-4 col-sm-offset-0"></div>
		</div>

		<div class="row" style="font-size:300%; font-family:georgia; text-align:center;">
			<div class=".col-sm-6 col-sm-offset-2" style="text-align:center; border-bottom: thin solid #EEEEEE;"><div class="glyphicon glyphicon-user"></div>&nbsp;FaBS' talented team of developers:</div>
		</div>
		<div class="row" style="font-family:helvetica;">
			<div class=".col-sm-2 col-sm-offset-2">Justyn Houle</div>
			<div class=".col-sm-2 col-sm-offset-0">Trison Nguyen</div>
			<div class=".col-sm-2 col-sm-offset-0">Jakob Roberts</div>
			<div class=".col-sm-2 col-sm-offset-0">Evan Nickerson</div>
			<div class=".col-sm-2 col-sm-offset-0">Rafat Mahmud</div>
			<div class=".col-sm-2 col-sm-offset-0">Jeff Mellis</div>
		</div>
	
		<div class="row" style="">
			<div class=".col-sm-12 col-sm-offset-0" style="height:20%;"></div>
		</div>
	</div>
	
</main>