<!-- form to update the message variable using ng-model -->
<!-- <div class="form-group">
    <label>Message</label>
    <input type="text" class="form-control" ng-model="main.message">
</div>
 -->
<!-- <div style="height:50px padding-top:-50;"></div>
<div class="logo">
    <div class="container">
        <div class="jumbotron col-lg-offset-4 col-lg-4 col-lg-offset-4" style="height:300px;">
        </div>
    </div>
</div> -->


<form class="form-horizontal">
    <div class="row">

        <div class="6u box">
            <img src="views/img/Market_square.png" class="11u fits" style="padding-left:20px height:500px;">
          
        </div>

        <div class="4u">   
            <div class="row">
                <br><br><br><br><br><br><br><br><br>
                <div class="loginbox">
                    <div class="form-group">
                        <label for="inputEmail" class="col-lg-3 control-label">Email:</label>
                        <div class="col-lg-8">
                           <input type="text" class="form-control" id="inputEmail" placeholder="Email">
                        </div>
                        <br><br><br>
                        <label for="inputPassword" class="col-lg-3 control-label">Password:</label>
                        <div class="col-lg-8">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                        </div>
                        <br><br><br>
                        <div class="col-lg-offset-3 checkbox">
                            <label>
                                <input type="checkbox"> Keep me signed in
                            </label>
                        </div>
                        <br><br>
                        <div class="">
                            <a href="/markethome"><button type="submit" class="11u btn btn-success button" >Login</button></a>
                            <br><p>&nbsp;</p>
                            <a href="/registration"><button type="submit" class="11u btn btn-default button">Sign Up</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="1u"><br></div>

    </div>
</form>



<!-- display the list using ng-repeat -->
<!-- <div class="info">
    <h2>Student List:</h2>
    <table class="table table-bordered">
    <thead>
     <tr>
         <th>First Name</th>
         <th>Last Name</th>
     </tr>
    </thead>
    <tbody>
     <tr ng-repeat="student in main.students">
         <td>{{ student.first }}</td>
         <td>{{ student.last }}</td>
     </tr>
    </tbody>
    </table>

    	form to add computer to the list
     <form class="form-inline" ng-submit="main.addStudent()">  
         <input type="text" class="form-control" placeholder="First" ng-model="main.studentData.first">
         <input type="text" class="form-control" placeholder="Last" ng-model="main.studentData.last">
         <button type="submit" class="btn btn-success">Add</button>
     </form> -->
</div>
