<!-- form to update the message variable using ng-model -->

<div id="test">
	<div class = "row">
		<div class="col-sm-offset-0 col-sm-10">
			BANNER HERE BANNER HERE BANNER HERE BANNER HERE BANNER HERE BANNER HERE BANNER HERE BANNER HERE BANNER HERE 
		</div>

		<div class="col-sm-offset-0 col-sm-2">
		        <a href="/"> <button type="submit" class="btn btn-success btn-md btn-block">Logout</button></a>
		        <div style="height:5px;"></div>
		        <a href="/main"> <button type="submit" class="btn btn-default btn-md btn-block">Account</button></a>
		</div>
	</div>
	<br>
</div>

<div class="col-sm-12" id="marketMain">
		<div id="userProfile" style="border: 1px solid gray; border-radius: 5px;">
			<center>
				USER PROFILE IN BULLET FORM
			</center>
		</div>

		<div id="market" style="border: 1px solid gray; border-radius: 5px;">
			<center>
				DATE AND MAP
			</center>
		</div>

		<div id="bookingHistory" style="border: 1px solid gray; border-radius: 5px;">
			<center>
				BOOKING HISTORY BOOKING HISTORY
			</center>
		</div>
</div>