<form class="form-horizontal" ng-controller="profileController as PC">
 
  <fieldset>
    <div class="form-group">
      <div class="col-sm-offset-1 col-sm-2">
        <a href="/markethome"> <button type="submit" class="btn btn-primary btn-md btn-block">Back</button></a>
      </div>
      <div class="col-sm-offset-6 col-sm-2" style="left-margin:100px">
         <button type="submit" class="btn btn-primary btn-md btn-block">Support Request</button></a>
      </div>
</div>
    <div class="form-group">
      <div class="col-lg-4" ng-controller = 'mainController as MC'>
        <input autocomplete='off' class='col-lg-6 control-label'type="text" name="profileName" align ="left" id="profileName" value="{{MC.userinfo.boothName}}" maxlength='50' size="25">
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-4 offset-col-6">
          <img src="http://drawception.com/pub/panels/2012/5-3/zmY8fjOEFK-2.png" id="profileImage">

             <textarea rows="5" cols="75" id = "profileProduct" ng-controller = 'mainController as MC'>{{MC.userinfo.products}}
            </textarea>

      </div>

    </div>
      <div id="row2" ng-controller = 'mainController as MC'>
        <textarea rows="10" cols="97" id = "bio">{{MC.userinfo.bio}}        
        </textarea>

      </div>    

<div id="addFields">

  <div class="form-group">
        <label for="inputPassword" class="col-lg-2 control-label"> New Password:</label>
        <div class="col-lg-4 offset-col-6">
          <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="userCreate.userData.password1">
        </div>
      </div>

      <div class="form-group">
        <label for="inputConfirmPassword" class="col-lg-2 control-label">Confirm New Password:</label>
        <div class="col-lg-4 offset-col-6">
          <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password" ng-model="userCreate.userData.password2">
        </div>
      </div>

      <div class="form-group">
        <label for="inputEmail" class="col-lg-2 control-label">Email:</label>
      <div class="col-lg-4 offset-col-6" ng-controller = 'mainController as MC'>
        <input autocomplete='off'   style="text-align:left" class='col-lg-12 control-label'type="text" name="email" id="email" value="{{MC.userinfo.email}}" maxlength='50' size="25">
      </div>
      </div>

      <div class="form-group">
        <label for="inputPhone" class="col-lg-2 control-label">Phone:</label>
      <div class="col-lg-4 offset-col-6" ng-controller = 'mainController as MC'>
        <input autocomplete='off' style="text-align:left" class='col-lg-12 control-label'type="text" name="phone" id="phone" value="{{MC.userinfo.phone}}" maxlength='50' size="25">
      </div>
      </div>
    
</div>

  <div class="col-lg-12" style="margin-left:20%">
      <div class="form-group col-lg-3">
          <button class="btn btn-primary btn-block" id="showButton" ng-click=PC.toggleShow()>Show Additional Details</button>
      </div>

      <div class="form-group col-lg-3">
          <button type="submit" class="btn btn-primary btn-block" id="subButton">Save Changes</button>
      </div>
 
  </div>
  </fieldset>
</form>

