<form class="form-horizontal">
 
  <fieldset>
    <label style="font-size:50px"><b>Registration<b></label>
    <br/><br/>

    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Username:</label>
      <div class="col-lg-4 offset-col-6">
        <input type="text" class="form-control" id="inputEmail" placeholder="Username">
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password:</label>
      <div class="col-lg-4 offset-col-6">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Confirm Password:</label>
      <div class="col-lg-4 offset-col-6">
        <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password">
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email:</label>
      <div class="col-lg-4 offset-col-6">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Phone:</label>
      <div class="col-lg-4 offset-col-6">
        <input type="password" class="form-control" id="inputPassword" placeholder="Phone">
      </div>
    
    </div>
    
    <div class="col-lg-2" style="height:15px;"></div>

    <div class="form-group">
      <div class="col-lg-3">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </div>
    </div>

  </fieldset>
</form>