<form id="form1" class="form-horizontal" ng-controller="userCreateController as userCreate" ng-submit="userCreate.attemptSave()">
 
  <fieldset>
    <label style="font-size:50px"><b>Registration<b></label>
    <br/><br/>

    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Username:</label>
      <div class="col-lg-4 offset-col-6">
        <input type="text" class="form-control" id="inputEmail" placeholder="Username" ng-model="userCreate.userData.username">
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password:</label>
      <div class="col-lg-4 offset-col-6">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="userCreate.userData.password1">
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Confirm Password:</label>
      <div class="col-lg-4 offset-col-6">
        <input type="password" class="form-control" id="inputPassword" placeholder="Confirm Password" ng-model="userCreate.userData.password2">
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email:</label>
      <div class="col-lg-4 offset-col-6">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email" ng-model="userCreate.userData.email">
      </div>
    </div>

    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Phone:</label>
      <div class="col-lg-4 offset-col-6">
        <input type="text" class="form-control" id="inputPhone" placeholder="Phone" ng-model="userCreate.userData.phone">
      </div>
    </div>
	
	<div class="row">
	  <label for="profileDetails" class="col-lg-4 col-lg-offset-2"> Profile Details (Can Be Changed Later):</label>
	</div>
	
	<div class="form-group">
	  <label for="inputEmail" class="col-lg-2 control-label">Booth Name:</label>
	  <div class="col-lg-4 offset-col-6">
	    <input type="text" class="form-control" id="boothName" placeholder="Booth Name" ng-model="userCreate.userData.boothName">
	  </div>
	</div>
	
	<div class="form-group">
	  <label for="inputEmail" class="col-lg-2 control-label">Booth Type:</label>
	  <div class="col-lg-4 offset-col-6">
	    <select class="form-control" id="selBooth" ng-model="userCreate.userData.boothType">
		  <option>Produce</option>
		  <option>Lunch</option>
		  <option>Merchandise</option>
		</select>
	  </div>
	</div>
	
	<div class="form-group">
	  <label for="inputEmail" class="col-lg-2 control-label">Products:</label>
	  <div class="col-lg-4 offset-col-6">
	    <textarea class="form-control" rows="5" id="areaProducts" placeholder="Products" ng-model="userCreate.userData.products"></textarea>
	  </div>
	</div>
	
	<div class="form-group">
	  <label for="inputEmail" class="col-lg-2 control-label">Bio:</label>
	  <div class="col-lg-4 offset-col-6">
	    <textarea class="form-control" rows="5" id="inputBio" placeholder="Bio" ng-model="userCreate.userData.bio"></textarea>
	  </div>
	
	</div>
    
    <div class="col-lg-2" style="height:15px;"></div>

    <div class="form-group">
      <div class="col-lg-3">
        <button type="submit" form="form1" class="btn btn-primary btn-block">Submit</button>
      </div>
    </div>

  </fieldset>
</form>