<form class="form-horizontal">
 
  <fieldset>
    <label style="font-size:50px"><b>Registration<b></label>
    <br/><br/>

    <div class="form-group">
      <label for="inputUsername" class="col-lg-2 control-label">Username:</label>
      <div class="col-lg-4 offset-col-6">
        <input type="text" class="form-control" id="inputUsername" placeholder="Username">
      </div>
    </div>
    
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password:</label>
      <div class="col-lg-4 offset-col-6">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
      </div>
    </div>

    <div class="form-group">
      <label for="inputConfirmPassword" class="col-lg-2 control-label">Confirm Password:</label>
      <div class="col-lg-4 offset-col-6">
        <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Confirm Password">
      </div>
    </div>

    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email:</label>
      <div class="col-lg-4 offset-col-6">
        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
      </div>
    </div>

    <div class="form-group">
      <label for="inputPhone" class="col-lg-2 control-label">Phone:</label>
      <div class="col-lg-4 offset-col-6">
        <input type="text" class="form-control" id="inputPhone" placeholder="Phone Number">
      </div>
    </div>

    <!-- want to make this multi line, like a box, showing that it should be a decent paragraph-->
    <div class="form-group">
      <label for="inputBiographic" class="col-lg-2 control-label">Biographic Information:</label>
      <div class="col-lg-4 offset-col-6">
        <input type="text" class="form-control" id="inputBiographic" placeholder="Biographic Information">
      </div>
    </div>

    <!-- still need to add in booth type, and products. booth type should be check boxes, products maybe a list?-->
    <!-- these arent in the mock up, but are in the data dictionary as non optional, so they would have to go here-->
    
    <div class="col-lg-2" style="height:15px;"></div>

    <div class="form-group">
      <div class="col-lg-3">
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
      </div>
    </div>

  </fieldset>
</form>