<form class="form-horizontal">
 
  <fieldset>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        <a href="/profile"> <button type="submit" class="btn btn-primary btn-md btn-block">Back</button></a>
      </div>

</div>
 <div class="form-group">
      <label for="inputUsername" class="col-lg-2 control-label">Subject:</label>
      <div class="col-lg-4 offset-col-6">
        <input type="text" class="form-control" id="inputSubject" placeholder="Subject">
      </div>
    </div>


    <div class="form-group">
      <div class="col-lg-4 offset-col-8" id= "request">
        <label for="textRequest" class="col-lg-2 control-label">Request:</label>
        <div class="col-lg-4 offset-col-6">
             <textarea rows="8" cols="100" id = "textRequest"></textarea>
        </div>

      </div>

    </div>
 



  <div class="col-lg-12" style="margin-left:20%">
      <div class="form-group col-lg-3">
          <button type="submit" class="btn btn-primary btn-block" id="subButton">Submit Request</button>
      </div>
 
  </div>
  </fieldset>
</form>

